body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
button {
    padding: 10px;
    font-size: 16px;
}

.bg-highlight {
  background-color: rgba(0, 0, 0, 0.3) !important; /* semi-transparent black overlay */
  color: white !important;
}

.navbar-shadow {
  transition: box-shadow 0.3s ease;
}

.navbar-shadow.scrolled {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}